[submodule "asy-syifaa-api"]
	path = asy-syifaa-api
	url = https://github.com/brontolano/asy-syifaa-datamaster.git
[submodule "asy-syifaa-website"]
	path = asy-syifaa-website
	url = https://github.com/brontolano/asy-syifaa-website.git
[submodule "asy-syifaa-erp"]
	path = asy-syifaa-erp
	url = https://github.com/brontolano/asy-syifaa
